body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}


#bdmenu1 {
  position: absolute;
  width: 300px;
  border-style: dashed;
  border-radius: 25px;
  height: auto;
  z-index: 15;
  top: 20%;
  left: 50%;
  margin: -100px 0 0 -150px;
  font-size: 20px;
}


#bddesc1 {
  text-align: center;
}