<html>
   <body>
      <form action = "/sendmail" method = "POST">
          <p>MY SENDING MAIL FORM</p>

          <label for="mail_password">Password:</label>
          <input type="password" id="mail_password" name = "mail_password" value="flask123"/><br>

          <label for="mail_to">MailTo:</label>
          <input type = "text" id="mail_to" name = "mail_to" value="your_mail@gmail.com"/><br>

          <label for="mail_text">MailText:</label>
          <input type = "text" id="mail_text" name = "mail_text" value="some message"/><br><br>

          <br>
          <p>Note: You need valid password to make it work!</p>


          <input type = "submit"/>
      </form>
   </body>
</html>